.HomeButton {
  position: absolute;
  top: 3vh;
  left: 3vw;
  width: 10vw;
}

.HomeButton img,
.HomeButton--small img {
  width: 100%;
  height: 100%;
}

.HomeButton--small {
  width: 6rem;
  height: 6rem;
  object-fit: cover;
  margin-bottom: -2.67em;
  margin-left: 2.5rem;
  margin-top: 1rem;
}

@media (max-width: 768px) {
  .HomeButton {
    top: 5vh;
    left: 3vw;
    width: 30vw;
  }
}
