.home {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.home__header {
  text-align: center;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 4rem;
}

.home__info {
  text-align: center;
  font-size: 1.75rem;
  text-align: center;
  font-weight: 300;
  text-transform: uppercase;
}

@media screen and (max-width: 768px) {
  .home__header {
    font-size: 3rem;
  }

  .home__info {
    font-size: 1.5rem;
  }
}
