.nav {
  position: absolute;
}
.navigation__checkbox {
  display: none;
}

.navigation__button {
  background-color: #abe9cd;
  background-image: linear-gradient(315deg, #abe9cd 0%, #3eadcf 74%);
  height: 4rem;
  width: 4rem;
  position: fixed;
  top: 2rem;
  right: 2rem;
  border-radius: 50%;
  z-index: 2000;
  box-shadow: 0 1rem 3rem rgba(#000, 0.1);
  text-align: center;
  cursor: pointer;
}

.navigation__background {
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 50%;
  position: fixed;
  top: 2.25rem;
  right: 2.25rem;
  background-color: #2a2a72;
  background-image: radial-gradient(315deg, #2a2a72 0%, #009ffd 74%);
  z-index: 1000;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.7, 1);
  user-select: none;
}

.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  opacity: 0;
  width: 0;
  overflow: hidden;
  transition: all 0.8s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%;
  padding: 0;
}

.navigation__item {
  margin: 1rem;
}

.navigation__link:link,
.navigation__link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(
    120deg,
    transparent 0%,
    transparent 50%,
    #fff 50%
  );
  background-size: 300%;
  transition: all 0.4s;
}

.navigation__link:hover,
.navigation__link:active {
  background-position: 100%;
  color: #000;
}

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80);
}

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%;
}

.navigation__icon {
  position: relative;
  margin-top: 2rem;
}

.navigation__icon,
.navigation__icon:before,
.navigation__icon:after {
  width: 2rem;
  height: 2px;
  background-color: #fff;
  display: inline-block;
  user-select: none;
}

.navigation__icon:before,
.navigation__icon:after {
  content: '';
  position: absolute;
  left: 0;
  transition: all 0.2s;
}

.navigation__icon:before {
  top: -0.6rem;
}
.navigation__icon:after {
  top: 0.6rem;
}

.navigation__button:hover .navigation__icon::before {
  top: -1rem;
}
.navigation__button:hover .navigation__icon::after {
  top: 1rem;
}

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent;
}

.navigation__checkbox:checked + .navigation__button .navigation__icon:before {
  top: 0;
  transform: rotate(135deg);
}

.navigation__checkbox:checked + .navigation__button .navigation__icon:after {
  top: 0;
  transform: rotate(-135deg);
}

@media (max-width: 768px) {
  .navigation__link {
    font-size: 2rem !important;
  }
}

@media (max-width: 576px) {
  .navigation__link {
    font-size: 1.5rem !important;
  }
}
