.category {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  margin: 1rem 2rem;
}

.category--single {
  grid-template-columns: 1fr;
}

.category__header {
  text-align: center;
  grid-column: 1 / 3;
  font-weight: 300;
}

.category__column {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.category__subcategory--header {
}

.category__subcategory--container {
  text-align: center;
}

.category__subcategory--list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.category__subcategory--listitem {
  padding: 0.25rem;
}

.category__subcategory--link {
  text-decoration: none;
  color: blue;
}

.category__subcategory--link:hover {
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  .category {
    display: flex;
    flex-direction: column;
  }
}
