.book {
  flex: 1;
  display: grid;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s;
}

.book:hover {
  transform: scale(1.05);
  z-index: 100;
}

.book__title {
  text-align: center;
  writing-mode: vertical-rl;
  margin: 0 auto;
  text-transform: uppercase;
  padding: 1rem;
}
